// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$success: #6812f3;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import url("https://fonts.cdnfonts.com/css/ageo-personal-use");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landing-page-container {
  font-family: Ageo Personal Use;
  max-width: 75vw;
  height: 400vh;
}

// --navbar--
.navbar-conatiner {
  max-width: 75vw;
  z-index: 1000;
}
.navbar-logo {
  width: clamp(60px, 8%, 100px);
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: 0 0 2px #111;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ddd;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(104, 18, 243, 0.25);
}

// --header--

.header-headline-container {
  flex-basis: 50%;
}
.header-container-image {
  flex-basis: 50%;
}
.header-headline {
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: clamp(1.3rem, 4vw, 3.5rem);
}
.header-description {
  font-size: clamp(1rem, 1.7vw, 3.5rem);
}
.header-button {
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

// --headline--

.headline-section-container {
  margin-top: 200px;
  font-family: Ageo Personal Use;
}
.small-headline-section {
  letter-spacing: 6px;
  font-size: clamp(0.6rem, 1.1vw, 0.8rem);
}
.main-headline-section {
  letter-spacing: 2px;
}

// --section services-top--

.card {
  flex-basis: 31%;
  min-height: 25vw;
  font-family: Ageo Personal Use;
  border-radius: 28px;
  box-shadow:
    0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
}
.card-text {
  font-size: clamp(1rem, 2.3vw, 1.1rem);
}
.card-title {
  font-size: clamp(1.3rem, 1.9vw, 2rem);
}
// --section services-bottom--
.section-services-bottom-headline{
  color: darkblue;
  font-size: clamp(1.3rem, 1.9vw, 2rem);
}
.section-services-bottom-description{
  font-size: clamp(1rem, 1.6vw, 1.3rem);
}
.section-services-bottom-play-button{
  width: 15% ;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.section-services-bottom-play-button:hover{
  width: 16% ;
  transition: 0.3s;
}






// --media--

@media only screen and (max-width: 1320px) {
  .nav-link {
    padding: 0 !important;
  }
  .headline-section-container {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1220px) {
  .nav-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 992px) {
  .nav-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .card {
    flex-basis: 100%;
  }
  .section-services-bottom-container-left{
    width: 75% !important;
  }
  .section-services-bottom-container-right{
    width: 75% !important;
  }
  .section-services-bottom-btn{
    width: 50% !important;
  }
}
@media only screen and (max-width: 768px) {
  .header-headline-container {
    flex-basis: 100%;
    row-gap: 15px !important;
    margin-bottom: 15px;
  }
  .header-headline {
    text-align: center;
  }

  .header-description {
    text-align: justify;
  }
  .header-button {
    margin-right: 0 !important;
  }
  .header-container-image {
    flex-basis: 70%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 580px) {
  .header-container-image {
    flex-basis: 100%;
  }
}
