// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$success: #6812f3;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import url("https://fonts.cdnfonts.com/css/ageo-personal-use");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// --navbar--

.navbar-logo {
  width: clamp(60px, 8%, 100px);
  cursor: pointer;
}
.navbar-toggler:focus {
  box-shadow: 0 0 2px #111;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ddd;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(104, 18, 243, 0.25);
}

// --header--

.header-headline-container {
  flex-basis: 50%;
}
.header-container-image {
  flex-basis: 50%;
}
.header-headline {
  font-family: Ageo Personal Use;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: clamp(1.3rem, 4vw, 3.5rem);
}
.header-description {
  font-size: clamp(1rem, 1.7vw, 3.5rem);
}
.header-button {
  font-size: clamp(0.9rem, 1.7vw, 1rem);
}

// --headline--

.headline-section-container{
  font-family: Ageo Personal Use;
}
.small-headline-section{
  letter-spacing: 6px;
  font-size: clamp(0.6rem, 1.1vw, 0.8rem);

}
// .main-headline-section{
//   letter-spacing: 2px;
// }

// --media--

@media only screen and (max-width: 1320px) {
  .nav-link {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 1220px) {
  .nav-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media only screen and (max-width: 992px) {
  .nav-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 800px) {
  .header-headline-container {
    flex-basis: 100%;
    row-gap: 15px !important;
    margin-bottom: 15px;
  }
  .header-headline {
    text-align: center;
  }

  .header-description {
    text-align: justify;
  }
  .header-button {
    margin-right: 0 !important;
  }
  .header-container-image {
    flex-basis: 70%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 580px) {
  .header-container-image {
    flex-basis: 100%;
  }
}


